.header-container {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.content-container {
  height: 100%;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 2rem;
}

.empty-state-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}
